---

---

<div class="w-full h-full border  bg-zinc-800 bg-gradient-to-br  from-zinc-800 to-violet-950/10 border-zinc-700 p-6 sm:px-8 sm:py-7 rounded-3xl shadow-xl shadow-slate-800/10">
    <slot />
</div>